.raise_box{
	overflow: hidden;
	padding: .30rem;
}
.raise_item{
	overflow: hidden;
	margin-bottom: .20rem;
	padding-bottom: .10rem;
	border-bottom: 1px solid #f2f3f6;
}
.raise_head{
	color: #2b2b2b;
	font-size: .20rem;
	margin-bottom: .10rem;
}
.raise_head img{
	display: inline-block;
	vertical-align: middle;
	width: .20rem;
	height: .19rem;
	margin: 0 .08rem .06rem 0;
}
.raise_head img:first-child{
	margin-left: .15rem;
}
.raise_head span{
	float: right;
	color: #939393;
}
.raise_content{
	color: #2b2b2b;
	font-size: .20rem;
	line-height: 1.5;
}