.client_box{
	overflow: hidden;
	padding: .40rem .30rem;
	border-top: .12rem solid #f2f3f6;
}
.client_box ul li{
	overflow: hidden;
	padding-bottom: .25rem;
	border-bottom: 1px solid #EDEDED;
	margin-bottom: .50rem;
}
.client_box .left{
	width: 20%;
	float: left;
}
.client_box .left img{
	display: block;
	width: .98rem;
	height: .98rem;
	border-radius: 50%;
	margin: 0 0 .20rem;
}
.client_box .left h4{
	color: #3e3e3e;
	font-size: .28rem;
	margin: 0;
}
.client_box .right{
	width: 80%;
	float: left;
	padding-top: .20rem;
}
.client_box .right p{
	color: #444;
	font-size: .24rem;
	margin-bottom: .10rem;
}